    [Unit]
    Description=Insight Digger MCP Client Service
    After=network.target

    [Service]
    User=denter
    WorkingDirectory=/home/denter/app/insight_digger_mcp
    ExecStart=/home/denter/app/insight_digger_mcp/venv/bin/python -u -m mcp_client.server
    Environment="MCP_CLIENT_PORT=33000"
    Restart=always

    [Install]
    WantedBy=multi-user.target