    [Unit]
    Description=Insight Digger MCP Client Service
    After=network.target

    [Service]
    User=your_user # Replace with the user you want to run the service as
    WorkingDirectory=/home/denter/app/insight_digger_mcp/ # Replace with the actual path to the insight-digger directory
    ExecStart=/usr/bin/python -u -m mcp_client.server
    Environment="MCP_CLIENT_PORT=33000" # Set your desired fixed port here
    Restart=always

    [Install]
    WantedBy=multi-user.target